<div class="authentication-wrapper">
    <div class="ibox in-left">
        <div class="ibox-title">
            <h4 class="m-0">Login</h4>
        </div>
        <div class="ibox-content">
            <div class="clearfix" style="height:10px;"></div>
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" formControlName="username" required />
                    <div class="invalid-error" *ngIf="submitted && f.username.errors?.required">Username is required</div>                    
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" required />
                    <div class="invalid-error" *ngIf="submitted && f.password.errors?.required">Password is required</div>  
                    <div class="invalid-error" *ngIf="submitted && f.password.errors?.minlength">Minimum 8 characters</div>
                </div>
            </form>

            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="chk_remember" type="checkbox" value="true"/>
                <label class="custom-control-label" for="chk_remember">Remember</label>
            </div>
        </div>
        <div class="ibox-footer text-left">
            <ladda-button (onClick)="onLogin()" label='Login' color='primary' [loading]='isLoading'></ladda-button>
            <a class="ml-2" href="#" routerLink="/login/forgot-password">Forgot Password</a>
        </div>
    </div>
</div>
