<div class="input-group">
    <div class="custom-file">
        <input type="file" class="custom-file-input" [id]="id" (change)="handleChange($event)" />
        <label class="custom-file-label no-content" [for]="id">Choose file</label>
    </div>
    <div class="input-group-append">
        <ladda-button color="success" type="button" (click)="handleUpload($event)" [label]="label" [loading]="loading" icon="mdi mdi-upload"></ladda-button>
    </div>
</div>