html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #414b54;
    color:#73879C;
}

.authentication-wrapper{
    position:absolute;
    width:95%;
    max-width:400px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}

a, a:hover{
    text-decoration:none;
    cursor:pointer;
}

//element fadein effect
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translatex(30px);
        transform: translatex(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.invalid-error{
    color:#a94442;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.ibox{
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    .ibox-title {
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 2px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 15px 90px 8px 15px;
        min-height: 48px;
        position: relative;
        clear: both;
        h5{
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            text-overflow: ellipsis;
        }
    }
    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
        label{
            font-size: 15px;
        }
    }
    .ibox-footer{
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }
}