$title-primary-color: #31476e;
$title-secondary-color: #373d48;
$border-primary-color: #999;

body{
    padding: 0 15px;
}

.name-title{
    color: $title-primary-color;
}

.job-description{
    text-align: justify;
    margin: 34px 0px;
    b{
        font-weight: 600;
    }
}

.section{
    margin-bottom: 1.5rem;
    .section-title{
        color: $title-primary-color;
        font-weight: 700;
        padding-bottom: 2px;
        border-bottom: 1px solid $border-primary-color;
        position: relative;
    }
    .section-item{
        padding: 10px 0;
        border-bottom: 1px solid #e3e3e3;
        .details-title{
            color: $title-secondary-color;
            font-weight: 500;
            margin-bottom: 1px;
            min-width: 100px;
        }
    }
    ul.job-descriptions{
        padding-left: 20px !important;
    }
    .fa-star, .fa-star-half-alt{
        color: #efef00;
    }
}
.seperator{
    border-left: 1px solid #999;
    .seperator-blocker{
        width: 20px;
        height: 35px;
        background-color: #fff;
        position: absolute;
        left: -10px;
        z-index: 1;
    }
}