
<div class="row mb-4">
    <div class="col-6">
    <div class="d-inline-block">
        <img src="assets/images/profile.jpg" />
    </div>
    <div class="d-inline-block ml-2 align-middle">
        <h3 class="name-title">PANG CINYI</h3>
        <h5 class="name-title font-italic">SENIOR SOFTWARE ENGINEER</h5>
    </div>
    </div>
    <div class="col-6">
        <p class="job-description">
            IT software engineer with over <b>7 years</b> of experience specializing for web 
            application with JavaScript frameworks. Manage to run a project as a team 
            or individual. 
            <br>
            Experience in web application with JavaScript frameworks such as Vue, Angular and React. 
            Manage to build the reusable to component to simplify the code, create styling and effect by HMLT and SASS and implementing design on mobile responsive website. 
            Familiar with frontend libraries like Bootstrap, Font Awesome, moment, lodash, and etc.
            <br>
            Manage to handle DB design for SQL or NoSQL and the backend frameworks like Nodejs express, .NET and .NET Core to build up a backend service. 
            Good in sql query, entity framework, API services and API Authorization (bearer token) 
            and also familiar with some cloud services like AWS and Azure for hosting, storage, and deployment pipeline.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="section">
            <h4 class="section-title">Personal Info</h4>
            <div class="form-group">
                <b class="details-title">Permit</b>
                <p>Singapore PR</p>
            </div>
            <div class="form-group">
                <b class="details-title">Date of Birth</b>
                <p>26 June 1990</p>
            </div>
            <div class="form-group">
                <b class="details-title">Phone</b>
                <p>9649 5220</p>
            </div>
            <div class="form-group">
                <b class="details-title">Email</b>
                <p>cinyipang1@gmail.com</p>
            </div>
            <div class="form-group">
                <b class="details-title">Address</b>
                <p>
                    55, 5/7 Jalan Idaman, Taman Nusa Idaman
                    79100 Nusa Jaya, Johor, Malaysia
                </p>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title">Frontend</h4>
            <div class="section-item d-flex" *ngFor="let skill of frontendSkills;">
                <label class="details-title">{{ skill.label }}</label>
                <label class="details-title ml-auto">
                    <i class="fas fa-star" *ngFor="let number of arrayOne(skill.full);"></i>
                    <i class="fas fa-star-half-alt" *ngFor="let number of arrayOne(skill.half);"></i>
                    <i class="far fa-star" *ngFor="let number of arrayOne(5 - skill.full - skill.half);"></i>
                </label>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title">Backend</h4>
            <div class="section-item d-flex" *ngFor="let skill of backendSkills;">
                <label class="details-title">{{ skill.label }}</label>
                <label class="details-title ml-auto">
                    <i class="fas fa-star" *ngFor="let number of arrayOne(skill.full);"></i>
                    <i class="fas fa-star-half-alt" *ngFor="let number of arrayOne(skill.half);"></i>
                    <i class="far fa-star" *ngFor="let number of arrayOne(5 - skill.full - skill.half);"></i>
                </label>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title">Database</h4>
            <div class="section-item d-flex" *ngFor="let skill of databaseSkills;">
                <label class="details-title">{{ skill.label }}</label>
                <label class="details-title ml-auto">
                    <i class="fas fa-star" *ngFor="let number of arrayOne(skill.full);"></i>
                    <i class="fas fa-star-half-alt" *ngFor="let number of arrayOne(skill.half);"></i>
                    <i class="far fa-star" *ngFor="let number of arrayOne(5 - skill.full - skill.half);"></i>
                </label>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title">Encryption / Security</h4>
            <div class="section-item d-flex" *ngFor="let skill of security;">
                <label class="details-title">{{ skill.label }}</label>
                <label class="details-title ml-auto">
                    <i class="fas fa-star" *ngFor="let number of arrayOne(skill.full);"></i>
                    <i class="fas fa-star-half-alt" *ngFor="let number of arrayOne(skill.half);"></i>
                    <i class="far fa-star" *ngFor="let number of arrayOne(5 - skill.full - skill.half);"></i>
                </label>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title">Softwares</h4>
            <div class="section-item d-flex" *ngFor="let skill of softwares;">
                <label class="details-title">{{ skill.label }}</label>
                <label class="details-title ml-auto">
                    <i class="fas fa-star" *ngFor="let number of arrayOne(skill.full);"></i>
                    <i class="fas fa-star-half-alt" *ngFor="let number of arrayOne(skill.half);"></i>
                    <i class="far fa-star" *ngFor="let number of arrayOne(5 - skill.full - skill.half);"></i>
                </label>
            </div>
        </div>
    </div>
    <div class="col-8 seperator">
        <div class="seperator-blocker"></div>
        <div class="section">
            <h4 class="section-title"><small><i class="fas fa-bookmark"></i></small> Experience</h4>
            <div class="form-group" *ngFor="let job of jobDescriptions;">
                <div class="row">
                    <div class="col-3">
                        <label class="details-title">{{ job.durationFrom }} - {{ job.durationTo }}</label>
                    </div>
                    <div class="col-9">
                        <h5 class="name-title">{{ job.title }}</h5>
                        <label class="details-title font-italic mb-2">{{ job.company }}</label>
                        <ul class="job-descriptions">
                            <li *ngFor="let description of job.descriptions;">{{ description }}</li>
                            <li>
                                Projects:
                                <ul style="list-style: none;">
                                    <li>
                                        <label class="mr-3" *ngFor="let project of job.projects;"><i class="fas fa-check"></i> {{project}}</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title"><small><i class="fas fa-bookmark"></i></small> Intership</h4>
            <div class="form-group" *ngFor="let job of interships;">
                <div class="row">
                    <div class="col-3">
                        <label class="details-title">{{ job.durationFrom }} - {{ job.durationTo }}</label>
                    </div>
                    <div class="col-9">
                        <h5 class="name-title">{{ job.title }} <small *ngIf="job.position">({{ job.position }})</small></h5>
                        <label class="details-title font-italic mb-2">{{ job.company }}</label>
                        <ul class="job-descriptions">
                            <li *ngFor="let description of job.descriptions;">{{ description }}</li>
                            <li>
                                Projects:
                                <ul style="list-style: none;">
                                    <li>
                                        <label class="mr-3" *ngFor="let project of job.projects;"><i class="fas fa-check"></i> {{project}}</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title"><small><i class="fas fa-bookmark"></i></small> Education</h4>
            <div class="form-group" *ngFor="let education of educations;">
                <div class="row">
                    <div class="col-3">
                        <label class="details-title">{{ education.durationFrom }} - {{ education.durationTo }}</label>
                    </div>
                    <div class="col-9">
                        <h5 class="name-title">{{ education.level }}</h5>
                        <label class="details-title font-italic mb-2 w-100">{{ education.title }}</label>
                        <label class="details-title font-italic mb-2 w-100">{{ education.school }}</label>
                        <label class="details-title mb-2 w-100">CGPA: {{ education.CGPA }}</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section">
            <h4 class="section-title"><small><i class="fas fa-bookmark"></i></small> Language Proficiency</h4>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <h5 class="details-title"><small><i class="fas fa-phone-volume"></i></small> Spoken</h5>
                        <hr class="my-2">
                        <div class="form-group">
                            <label class="details-title w-50 text-left">English</label>
                            <label class="details-title w-50 text-right pr-1">
                                <i class="fas fa-star" *ngFor="let number of arrayOne(4);"></i>
                                <i class="far fa-star" *ngFor="let number of arrayOne(1);"></i>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="details-title w-50 text-left">Mandarin</label>
                            <label class="details-title w-50 text-right pr-1">
                                <i class="fas fa-star" *ngFor="let number of arrayOne(5);"></i>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="details-title w-50 text-left">Melayu</label>
                            <label class="details-title w-50 text-right pr-1">
                                <i class="fas fa-star" *ngFor="let number of arrayOne(2);"></i>
                                <i class="fas fa-star-half-alt" *ngFor="let number of arrayOne(1);"></i>
                                <i class="far fa-star" *ngFor="let number of arrayOne(2);"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5 class="details-title"><small><i class="fas fa-pen-alt"></i></small> Written</h5>
                        <hr class="my-2">
                         <div class="form-group">
                            <label class="details-title w-50 text-left">English</label>
                            <label class="details-title w-50 text-right pr-1">
                                <i class="fas fa-star" *ngFor="let number of arrayOne(4);"></i>
                                <i class="far fa-star" *ngFor="let number of arrayOne(1);"></i>
                            </label>
                        </div>
                         <div class="form-group">
                            <label class="details-title w-50 text-left">Mandarin</label>
                            <label class="details-title w-50 text-right pr-1">
                                <i class="fas fa-star" *ngFor="let number of arrayOne(5);"></i>
                            </label>
                        </div>
                         <div class="form-group">
                            <label class="details-title w-50 text-left">Melayu</label>
                            <label class="details-title w-50 text-right pr-1">
                                <i class="fas fa-star" *ngFor="let number of arrayOne(2);"></i>
                                <i class="fas fa-star-half-alt" *ngFor="let number of arrayOne(1);"></i>
                                <i class="far fa-star" *ngFor="let number of arrayOne(2);"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <h4 class="section-title"><small><i class="fas fa-bookmark"></i></small> Others</h4>
            <div class="form-group">
                <label class="details-title w-25 mb-2">Blog</label>
                <label class="details-title">: https://medium.com/@cinyipang</label>
            </div>
            <div class="form-group">
                <label class="details-title w-25 mb-2">Notice Period</label>
                <label class="details-title">: 1 months' notice</label>
            </div>
            <div class="form-group">
                <label class="details-title w-25 mb-2">Working Experience</label>
                <label class="details-title">: Since 2014 (7 years)</label>
            </div>
            <div class="form-group">
                <label class="details-title w-25 mb-2">Current Permit</label>
                <label class="details-title">: Singapore PR</label>
            </div>
        </div>
    </div>
</div>
