<page-title label='Product'></page-title>

<div class="main-container">
    <ngb-pagination *ngIf="products.items.length" (pageChange)="changePage($event)" [collectionSize]="products.pagination.totalEntries" [pageSize]="products.pagination.pageSize" [(page)]="products.pagination.page" [boundaryLinks]="true"></ngb-pagination>
 
    <div class="ibox">
        <div class="ibox-title">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Product Listing</h5>
                </div>
                <div class="col-lg-4">
                    <input type="text" #searchRef class="form-control" placeholder="product code / brand code" />
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div *ngIf="products.items.length" class="table-responsive">
                <table class="table table-sortable">
                    <thead>
                        <tr>
                            <th class="text-info" (click)="sortBy('Name')"><i *ngIf="products.pagination.order=='Name'" class="mdi {{ products.pagination.asc ? 'mdi-arrow-up' : 'mdi-arrow-down'}}"></i> Name</th>
                            <th class="text-info" (click)="sortBy('Code')"><i *ngIf="products.pagination.order=='Code'" class="mdi {{ products.pagination.asc ? 'mdi-arrow-up' : 'mdi-arrow-down'}}"></i> Code</th>
                            <th class="text-info" (click)="sortBy('Cost')"><i *ngIf="products.pagination.order=='Cost'" class="mdi {{ products.pagination.asc ? 'mdi-arrow-up' : 'mdi-arrow-down'}}"></i> Cost</th>
                            <th class="text-info" (click)="sortBy('Price')"><i *ngIf="products.pagination.order=='Price'" class="mdi {{ products.pagination.asc ? 'mdi-arrow-up' : 'mdi-arrow-down'}}"></i> Price</th>
                            <th class="text-info" (click)="sortBy('Brand.Code')"><i *ngIf="products.pagination.order=='Brand.Code'" class="mdi {{ products.pagination.asc ? 'mdi-arrow-up' : 'mdi-arrow-down'}}"></i> Brand</th>
                            <th class="text-info" (click)="sortBy('CreatedOn')"><i *ngIf="products.pagination.order=='CreatedOn'" class="mdi {{ products.pagination.asc ? 'mdi-arrow-up' : 'mdi-arrow-down'}}"></i> Created On</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products.items;">
                            <td>{{ product.name }}</td>
                            <td>{{ product.code }}</td>
                            <td>{{ product.currency.code }} {{ product.cost }}</td>
                            <td>{{ product.currency.code }} {{ product.price }}</td>
                            <td>{{ product.brand.code }}</td>
                            <td>{{ product.createdOn | date : "dd MMMM yyyy, hh:mm a" }}</td>
                            <td class="action">
                                <button *ngIf="canDelete" class="btn btn-sm btn-danger" (click)="deleteAlert(product.code, product.productId)"><i class="fas fa-trash-alt"></i></button>
                                <button *ngIf="canUpdate" class="btn btn-sm btn-info" routerLink="/product/form/{{product.productId}}"><i class="fas fa-edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
