<page-title label='Date'></page-title>

<div class="main-container">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title"><h5>Date Of Birth Example</h5></div>
                <div class="ibox-content">
                        <div class="form-group">
                            <label class="text-info">Date Of Birth</label>
                            <input type="text" class="form-control" [(ngModel)]="dob" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" readonly>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title"><h5>Date Of Birth Example</h5></div>
                <div class="ibox-content">
                    <div class="form-group">
                        <ngb-datepicker #dp [(ngModel)]="appDate" (navigate)="date=$event.next"></ngb-datepicker>
                    </div>
                    <div class="form-group">
                            <ngb-timepicker [(ngModel)]="appTime" [meridian]="meridian"></ngb-timepicker>
                    </div>
                    <div class="form-group">
                        {{formattedDateTime}}
                    </div>
                </div>                
                <div class="ibox-footer text-right">
                    <ladda-button (onClick)="generateDateTime()" label='Generate DateTime'></ladda-button>
                </div>
            </div>
        </div>
    </div>
</div>
