
<div class="px-4 py-3 page-title">
    <h5>{{ label }}</h5>
    <button *ngIf="backButton" class="btn btn-secondary btn-sm ml-auto my-auto" (click)="common.back()"><i class="fas fa-arrow-left"></i> Back</button>
</div>