
.page-title{
    display: flex;
    vertical-align: middle;
    border-bottom: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    background-color: #fff;
    h5{
        font-size: 24px;
        font-weight: 100;
    }
}
