<div class="authentication-wrapper">
    <div class="ibox">
        <div class="ibox-title">
            <h5 class="m-0">Forgot Password</h5>
        </div>
        <div class="ibox-content">
            <div class="clearfix" style="height:10px;"></div>
            <form [formGroup]="form">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email" required/>   
                    <div class="invalid-error" *ngIf="submitted && form.controls.email.errors?.required">This is required</div>        
                    <div class="invalid-error" *ngIf="submitted && form.controls.email.errors?.email">Invalid email address</div>                                                      
                </div>
            </form>
        </div>
        <div class="ibox-footer text-left">
            <ladda-button class="mr-2" routerLink="/login" label='Cancel' color='secondary' [loading]='isLoading'></ladda-button>
            <ladda-button (onClick)="onSubmit()" label='Submit' color='primary' [loading]='isLoading'></ladda-button>
        </div>
    </div>
</div>
