<page-title label='Date'></page-title>

<div class="main-container">
    <form [formGroup]="demoForm" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title"><h5>Pretty checkbox default</h5></div>
                    <div class="ibox-content">
                        <div class="pretty p-default p-round p-thick">
                            <input type="checkbox" value="Primary" /> 
                            <div class="state p-primary-o"><label>Primary</label></div>
                        </div>
    
                        <div class="pretty p-default p-round">
                            <input type="checkbox" value="Success"  />
                            <div class="state p-success-o"><label>Success</label></div>
                        </div>
    
                        <div class="pretty p-default">
                            <input type="checkbox" value="Info"  />
                            <div class="state p-info"><label>Info</label></div>
                        </div>
    
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" value="Warning"  />
                            <div class="state p-warning"><label>Warning</label></div>
                        </div>
    
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" value="Danger"  />
                            <div class="state p-danger-o"><label>Danger</label></div>
                        </div>
                    </div>
                </div>
                
                <div class="ibox">
                    <div class="ibox-title"><h5>Pretty checkbox (font-icon/mdi-icon)</h5></div>
                    <div class="ibox-content">
                        <div class="pretty p-icon p-pulse">
                            <input type="checkbox"/>
                            <div class="state p-primary"><i class="icon fas fa-check"></i><label> fa check</label></div>
                        </div> 
    
                        <div class="pretty p-icon p-round">
                            <input type="checkbox" />
                            <div class="state"><i class="icon mdi mdi-check"></i><label> mdi check</label></div>
                        </div>
                    
                        <div class="pretty p-icon p-curve">
                            <input type="checkbox" />
                            <div class="state"><i class="icon mdi mdi-close"></i><label> mdi close</label></div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title"><h5>ladda-button (font-icon/mdi-icon)</h5></div>
                    <div class="ibox-content">
                        <ladda-button color='danger' label='PDF' (onClick)="download()" [loading]="isDownloading" icon="mdi mdi-file-pdf"></ladda-button>
                        <ladda-button color='success' label='Excel' (onClick)="download()" [loading]="isDownloading" icon="far fa-file-excel" class="ml-2"></ladda-button>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title"><h5>Bootstrap custom file input</h5></div>
                    <div class="ibox-content">
                        <app-custom-file 
                        id="excel" 
                        label="Image"
                        (onChange)="onLoad($event)" 
                        (onUpload)="onUpload()" 
                        [loading]="false"></app-custom-file> 

                        <img *ngIf="fileBase64" class="img-fluid my-2" [src]="fileBase64" />
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title"><h5>bootstrap dropdown</h5></div>
                    <div class="ibox-content">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Action - 1</button>
                                <button ngbDropdownItem>Another Action</button>
                                <button ngbDropdownItem>Something else is here</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title"><h5>toastr</h5></div>
                    <div class="ibox-content">
                        <ladda-button color='success' (onClick)="successToastr()" label='Success'></ladda-button>
                        <ladda-button class="ml-2" color='warning' (onClick)="warningToastr()" label='Warning'></ladda-button>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title"><h5>sweet-alert</h5></div>
                    <div class="ibox-content">
                        <ladda-button color='danger' (onClick)="sweetAlert()" label='Alert'></ladda-button>
                        <ladda-button color='success' class="ml-2" (onClick)="sweetAlertOk()" label='OK'></ladda-button>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title"><h5>Form Validation</h5></div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label>ng-select</label>
                            <ng-select [items]="brands"
                                bindLabel="name"
                                bindValue="brandId"
                                formControlName="brandId"
                                required>
                            </ng-select>
                            <div class="invalid-error" *ngIf="submitted && demoForm.controls.brandId.errors?.required">This is required</div>                    
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Product Code A</label>
                                    <input type="text" class="form-control" formControlName="productCodeA" required/>
                                    <div class="invalid-error" *ngIf="submitted && demoForm.controls.productCodeA.errors?.required">This is required</div>                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Product Code B</label>
                                    <input type="text" class="form-control" formControlName="productCodeB" required/>
                                    <div class="invalid-error" *ngIf="submitted && demoForm.controls.productCodeB.errors?.required">This is required</div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title"><h5>ui-switch</h5></div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label>Is Active?</label>
                            <div><ui-switch size="small" defaultBgColor="red" formControlName="isActive"></ui-switch></div>
                        </div>
                        <div class="form-group">
                            <label>onChange</label>
                            <div><ui-switch size="small" switchColor="#007bff" (change)="onChangeSwitch($event)"></ui-switch></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12">
                <div class="ibox">
                    <div class="ibox-footer text-right">
                        <ladda-button (onClick)="submit()" label='Submit' [loading]='isLoading'></ladda-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
