<div class="res-menu-wrapper d-block d-lg-none" (click)="toggleMenu()" *ngIf="commonService.isToggleMenu">
</div>
<nav class="navbar-default navbar-static-side" [ngClass]="{'toggle-menu': commonService.isToggleMenu }" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="nav" ngbDropdown>
            <li class="nav-header">
                <a routerLink="/profile">
                    <app-rounded-image [styles]="{ width:'80px', height:'80px' }" [src]="user?.profilePicture"></app-rounded-image>
                </a>
                <a class="text-muted" id="dropdownBasic1" ngbDropdownToggle>
                    <span class="text-white d-block mt-1">{{user?.name}}</span>
                    <small class="mr-2">Art Director</small>
                </a>
                <ul class="dropdown-menu mt-1" aria-labelledby="dropdownBasic1" ngbDropdownMenu>
                    <li ngbDropdownItem><a routerLink="/profile">Profile</a></li>
                    <li ngbDropdownItem><a routerLink="/profile">Contacts</a></li>
                    <li ngbDropdownItem><a routerLink="/profile">Mailbox</a></li>
                    <li class="dropdown-divider"></li>
                    <li ngbDropdownItem><a (click)="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
        
        <ng-material-multilevel-menu  
            [configuration]='config' 
            [items]='appitems'>
        </ng-material-multilevel-menu>
    </div>
</nav>
