.res-menu-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.5);
}
.navbar-static-side {
    transition: all 0.5s ease;
    left: -220px;
    z-index: 11;
    position: fixed;
    width: 220px;
    height: 100%;
    overflow-y: auto;
    background-color: #343a40;
        
    .nav-header {
        padding: 30px 25px 10px 25px !important;
        position: relative;
    }

    .dropdown-toggle::after {
        vertical-align: 1px;
    }
    .nav {
        cursor: pointer;
        li.dropdown-item{
            display: block;
            width: 100%;
            padding: 7px 25px;
            cursor: pointer;
            a {
                text-decoration: none;
                display: block;
                color: initial;
            }
        }
        .dropdown-menu{
            .dropdown-item{
                &:active{
                    background-color: transparent;
                }
            }
        }
    }
    
    .material-menu{
        overflow: hidden;
        div[dir=ltr].amml-submenu[_ngcontent-c6], div[dir=rtl][_ngcontent-c6] .amml-icon[_ngcontent-c6]{
            margin-left: 12px !important;
        }
        .mat-list-item{
            .mat-list-item-content{
                .mat-icon{
                    /* prevent highlight when on click */
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none;
                }
            }
        }
    }
    
    /* scrollbar width */
    &::-webkit-scrollbar {
        width: 5px;
      }
      
    /* scrollbar Track */
    &::-webkit-scrollbar-track {
    background: #f5f5f5; 
    }
    
    /* scrollbar Handle */
    &::-webkit-scrollbar-thumb {
    background: #888; 
    }
    
    /* scrollbar Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
}

.navbar-static-side.toggle-menu{
    left: 0 !important;
}

@media (min-width: 992px){
    .navbar-static-side {
        left: 0 !important;
    }
}