<page-title label='Product Form'></page-title>

<div class="main-container">
    <form [formGroup]="productForm" enctype="multipart/form-data" method="post">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Product Information</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Brand</label>
                                    <ng-select [items]="brands.items"
                                        bindLabel="name"
                                        bindValue="brandId"
                                        formControlName="brandId"
                                        required>
                                    </ng-select>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.brandId.errors?.required">This is required</div>                    
                                </div>

                                <div class="form-group">
                                    <label>Currency</label>
                                    <ng-select [items]="currencies.items"
                                        bindLabel="code"
                                        bindValue="currencyId"
                                        formControlName="currencyId"
                                        required>
                                    </ng-select>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.currencyId.errors?.required">This is required</div>                    
                                </div>

                                <div class="form-group">
                                    <label>Product Code</label>
                                    <input type="text" class="form-control" formControlName="code" required/>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.code.errors?.required">This is required</div>                    
                                </div>

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" formControlName="name" required/>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.name.errors?.required">This is required</div>                    
                                </div>

                                <div class="form-group">
                                    <label>Is Featured?</label>
                                    <div><ui-switch size="small" defaultBgColor="red" formControlName="isFeatured"></ui-switch></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" class="form-control" formControlName="price" min="0" required/>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.price.errors?.required">This is required</div>                    
                                </div>

                                <div class="form-group">
                                    <label>Cost</label>
                                    <input type="number" class="form-control" formControlName="cost" min="0" required/>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.cost.errors?.required">This is required</div>                    
                                </div>

                                <div class="form-group">
                                    <label>Min Of Quantity</label>
                                    <input type="number" class="form-control" formControlName="minOfQuantity" min="0" required/>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.minOfQuantity.errors?.required">This is required</div>                    
                                </div>
                                
                                <div class="form-group">
                                    <label>Standard Carton</label>
                                    <input type="number" class="form-control" formControlName="standardCarton" min="0" required/>
                                    <div class="invalid-error" *ngIf="submitted && productForm.controls.standardCarton.errors?.required">This is required</div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="py-2">Material</td>
                                    <td class="py-2 w-30">Quantitiy</td>
                                    <td class="py-2"><button type="button" class="btn btn-sm btn-info text-uppercase text-white py-0 px-2" (click)="addProductMaterial()"><i class="mdi mdi-plus"></i></button></td>
                                </tr>
                            </thead>
                            <tbody  formArrayName="productMaterials">
                                <tr *ngFor="let item of formProductMaterials.controls; let i = index;" [formGroupName]="i">
                                    <td>
                                        <ng-select [items]="materials.items"
                                            bindLabel="description"
                                            bindValue="materialId"
                                            formControlName="materialId"
                                            required>
                                        </ng-select>
                                        <div class="invalid-error" *ngIf="submitted && item.controls.materialId.errors?.required">This field is required</div>
                                    </td>
                                    <td>
                                        <input type="number" formControlName="quantity" class="form-control" min="1" required>
                                        <div class="invalid-error" *ngIf="submitted && item.controls.quantity.errors?.required">This field is required</div>
                                    </td>
                                    <td class="pr-0 pt-3">
                                        <i class="fas fa-trash-alt text-danger" (click)="removeProductMaterial(i)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ibox-footer text-right">
                <ladda-button (onClick)="submit()" label='Submit' [loading]='isLoading'></ladda-button>
            </div>
        </div>
    </form>
</div>
