html{ 
    height: 100%;
    overflow-x: hidden;
}
body{
    height: auto !important;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #f5f5f5;
}
#page_wrapper {
    min-height: 100%;
    background-color: #f5f5f5;
    position: relative !important;
    padding-top: 60px;
}

@media (min-width: 992px){
    #page_wrapper {
        position: inherit;
        margin: 0 0 0 220px !important;
        padding-top: 0 !important;
    }

    #page_wrapper.toggle-menu{
        left: 0 !important;
    }    
}

.invalid-error{
    color:#a94442;
}
.main-container{
    padding: 1.5rem;
}

.w-10{
    width: 10% !important;
}
.w-20{
    width: 20% !important;
}
.w-30{
    width: 30% !important;
}
.w-40{
    width: 40% !important;
}
.w-50{
    width: 50% !important;
}
.table-sortable{
    th {
        cursor: pointer;
    }
}
td.action{
    .btn:not(:first-child)
    {
        margin-left: 10px;
    }
}

.custom-file{
    .custom-file-label{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &.no-content{
            &::after{
                content: none !important;
            }
        }
    }
}

.in-left {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.ibox{
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    .ibox-title {
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 2px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 10px 15px;
        min-height: 48px;
        position: relative;
        clear: both;
        h5{
            line-height: 38px;
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            text-overflow: ellipsis;
        }
    }
    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }
    .ibox-footer{
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }
}