

<div class="main-container">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images; let i = index;">
            <div class="picsum-img-wrapper">
            <img class="w-100" [src]="image" alt="Random first slide">
            </div>
            <div class="carousel-caption">
            <h3>{{i}} slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="ibox">
        <div class="ibox-title"><h5>Recent Sales</h5></div>
        <div class="ibox-content">
            <div class="row mb-5">
                <div class="col-md-6" data-aos="fade-right">
                    <canvas id="line_chart">{{ lineChart }}</canvas>
                </div>
                <div class="col-md-6" data-aos="fade-left">
                    <canvas id="bar_chart">{{ barChart }}</canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" data-aos="fade-right">
        <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/900x200">
            <div class="card-body">
                <h3 class="card-title">Product Name</h3>
                <h4>$24.99</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                <span class="text-warning">★ ★ ★ ★ ☆</span> 4.0 stars
            </div>
        </div>
    </div>

    <div class="ibox" data-aos="fade-left">
        <div class="ibox-title"><h5>Product Reviews</h5></div>
        <div class="ibox-content">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
    </div>
</div>