<page-title label='Profile'></page-title>

<div class="main-container">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group text-center mb-4">
                <app-rounded-image [styles]="{ width:'150px', height:'150px' }" [src]="user?.profilePicture" (click)="profile_picture.click()"></app-rounded-image>
                <input type="file" name="profile_picture" #profile_picture [hidden]="true" class="form-control" (change)="fileChangeEvent($event)"/>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-title"><h5>Basic Information</h5></div>
                <div class="ibox-content">
                    <form [formGroup]="profileForm" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" formControlName="name" required/>           
                                    <div class="invalid-error" *ngIf="submitted && profileForm.controls.name.errors?.required">This is required</div>                         
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" formControlName="email" required/>   
                                    <div class="invalid-error" *ngIf="submitted && profileForm.controls.email.errors?.required">This is required</div>        
                                    <div class="invalid-error" *ngIf="submitted && profileForm.controls.email.errors?.email">Invalid email address</div>                                                      
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" value="{{user?.username}}" readonly/> 
                                </div>
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <input type="text" class="form-control" formControlName="remarks"/>                               
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ibox-footer text-right">
                    <ladda-button (onClick)="updateProfile()" label='Submit' [loading]='isLoading'></ladda-button>
                </div>
            </div> 
        </div>
    </div>
  
    <!-- Cropper Modal -->
    <button type="button" [hidden]="true" id="btn_open_modal" data-toggle="modal" data-target="#cropImageModal"></button>
    <div class="modal fade" id="cropImageModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropImageModalLabel">Crop Image</h5>
                </div>
                <div class="modal-body p-0">
                        <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="1"
                            [resizeToWidth]="150"
                            format="png"
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_close_modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <ladda-button (onClick)="onUploadProfilePic()" label='Upload Profile' [loading]='isUploading'></ladda-button>
                </div>
            </div>
        </div>
    </div> 
</div>
