.logo-title{
    font-size: 16px;
    font-weight: 600;
    color: #535456;

    &:hover{
        color: #535456;
        text-decoration: none;
    }
}

.res-menu-bar{
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 15px;
    color: #f7f7f7;
    background-color: #6c757d;
}

.header-menu{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e7eaec;
}

@media (min-width: 992px){
    .header-menu{
        position: relative;
        z-index: 1;
        width: 100%;
    }
    
    .res-menu-bar{
        display: none;
    }
}