
<div class="px-4 py-3 d-flex header-menu">
    <div>
        <i (click)="toggleMenu()" class="fas fa-bars res-menu-bar"></i>
        <a class="logo-title" routerLink="/">Angular App</a>
    </div>
    <div class="ml-auto">
        <span class="text-secondary" (click)="logout()" placement="bottom" ngbTooltip="Logout"><i class="fas fa-sign-out-alt"></i></span>
    </div>
</div>