<button [type]="type" class="ladda-button" [attr.data-color]="color" data-size='s' data-style="zoom-in" 
(click)="handleClick($event)" [ladda]="loading">{{label}} <i *ngIf="icon" [ngClass]="icon"></i></button>