
@import '~ladda/dist/ladda.min.css';

.ladda-button[data-color=info]{background-color:#17a2b8!important;}
.ladda-button[data-color=primary]{background-color:#007bff!important;}
.ladda-button[data-color=success]{background-color:#28a745!important;}
.ladda-button[data-color=danger]{background-color:#dc3545!important;}
.ladda-button[data-color=warning]{background-color:#ffc107!important;}
.ladda-button[data-color=secondary]{background-color:#6c757d!important;}

.ladda-button[data-size=s] {padding: 5px 10px !important; border-radius: 3px;}
