<page-title label='Hub | Connection'></page-title>

<div class="main-container">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <form [formGroup]="hubForm" (ngSubmit)="sendMessage()" enctype="multipart/form-data" method="post">
                    <div class="ibox-title"><h5>Send Message: <small>{{ connectionId }}</small></h5></div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label>ConnectionId</label>
                            <input type="text" class="form-control" formControlName="connectionId" required/>
                            <div class="invalid-error" *ngIf="submitted && hubForm.controls.connectionId.errors?.required">This is required</div>                    
                        </div>
                        <div class="form-group">
                            <label>Sender Name</label>
                            <input type="text" class="form-control" formControlName="sender" required/>
                            <div class="invalid-error" *ngIf="submitted && hubForm.controls.sender.errors?.required">This is required</div>                    
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <input type="text" class="form-control" formControlName="message" required/>
                            <div class="invalid-error" *ngIf="submitted && hubForm.controls.message.errors?.required">This is required</div>                    
                        </div>
                    </div>
                    <div class="ibox-footer text-right">
                        <ladda-button type="submit" color='info' label='Send' [loading]="isLoadingSubmit"></ladda-button>
                    </div>
                </form>
            </div>    
        </div>
        <div class="col-md-6"> 
            <div class="ibox">
                <div class="ibox-title"><h5>Message Inbox</h5></div>
                <div class="ibox-content">
                    <ul id="messages_list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>


