
<page-title label='File'></page-title>

<div class="main-container">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title"><h5>Upload File</h5></div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label>CSV (API)</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file1" (change)="onLoadCsv($event)"/>
                                <label class="custom-file-label no-content" for="file1">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <ladda-button class="mr-2"  color="success" type="button" (click)="onUploadCsv()" label="Upload" [loading]="isUploading" icon="mdi mdi-upload"></ladda-button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Excel (API) - By Component</label>
                        <app-custom-file 
                        id="excel" 
                        label="Upload"
                        (onChange)="onLoadExcel($event)" 
                        (onUpload)="onUploadExcel()" 
                        [loading]="isUploading"></app-custom-file> 
                    </div>
                </div>
            </div>           
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title"><h5>Download File</h5></div>
                <div class="ibox-content">
                    <div class="form-group">
                        <ladda-button color='danger' (onClick)="downloadPdf()" label='PDF' [loading]="isDowdloading" icon="mdi mdi-file-pdf"></ladda-button>
                        <ladda-button color='success' (onClick)="downloadExcel()" label='Excel' [loading]="isDowdloading" icon="far fa-file-excel" class="ml-2"></ladda-button>
                        <ladda-button color='success' (onClick)="downloadCsv()" label='CSV' [loading]="isDowdloading" icon="far fa-file-excel" class="ml-2"></ladda-button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
